<!--Footer-->
<div class="container">  
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="footer">
              <footer class="bg-white text-center text-white">
                <!-- Grid container -->
                <div class="container p-3 pb-0">
                  <!-- Section: Social media -->
                  <section class="mb-4">

                    <!-- Twitter -->
                    <a href="https://twitter.com/i/flow/login" class="fa fa-twitter"></a>
                    <!-- Google -->
                    <a href="https://www.google.com/" class="fa fa-google"></a>
          
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
          
                    <!-- Linkedin -->
                    <a href="https://www.linkedin.com/login" class="fa fa-linkedin"></a>

                    <!--YouTube-->
                    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>

                    <!-- Github -->
                    <a href="https://github.com/" class="fa fa-github"></a>

                    <!--Yahoo-->
                    <a href="https://www.yahoo.com/" class="fa fa-yahoo"></a>

                    <!--Skype-->
                    <a href="https://www.skype.com/en/" class="fa fa-skype"></a>
                    
                  </section>
                  <!-- Section: Social media -->
                  <p style="color:black">
                    &copy; 2022 Copyright:
                    <a class="text-black" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                  </p>
                </div>
                <!-- Grid container -->
              </footer>                      
            </section>    
        </div>
      </div>  
    </div>    
  </div>      